<h1><%= @list.title %></h1>
<table class="table table-striped">
  <tr>
    <td>Description</td>
    <td>Days Left</td>
    <td>Complete</td>
    </tr>
  <tr>
    <td>Create new todo</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
