<h1>Edit item</h1>

<div class="control-group">
  <div class="controls">
    <%= f.label :complete, class: 'checkbox' do %>
        <%= f.check_box :complete %> Complete
    <% end %>
  </div>
</div>
